$c-theme-1: #A07DE4;
$c-theme-1--interaction: $c-dark;
$nav-link-c-theme-1--interaction: #61478F;

$c-theme-2: #3E73EE;
$c-theme-2--interaction: #9FCEFF;
$nav-link-c-theme-2--interaction: #9AC9FE;

$c-theme-3: #A7D4FF;
$c-theme-3--interaction: #3E73EE;
$nav-link-c-theme-3--interaction: #3E73EE;

$c-theme-4: $c-dark;
$c-theme-4--interaction: $c-purple;
$nav-link-c-theme-4--interaction: $c-theme-4--interaction;

$main-menu-item-transition-duration: 0.5s;
