.social-block__toggler {
  color: $c-dark;
  border-radius: 50%;

  &::before {
    transition: 0.4s 0.1s;
  }

  svg {
    transition: color 0.4s;
  }

  &:focus {
    color: $c-dark;
    outline: none;

    &::before {
      border-color: $c-purple;
    }

    & + .social-block__list {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .social-block--active & {
    color: $c-light;

    &::before {
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }

  &:hover {
    color: $c-dark;

    &::before {
      background-color: $c-light;
      border-color: $c-light;
    }
  }

  &:active,
  &:active:focus {
    color: $c-light;

    &::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

@mixin social-block-toggler-colors($color, $color--interaction) {
  .social-block__toggler {
    &:focus {
      color: $color--interaction;

      &::before {
        background-color: $c-light;
        border-color: $color--interaction;
      }
    }
  }

  .social-block--active .social-block__toggler {
    color: $c-light;

    &::before {
      background-color: $color--interaction;
      border-color: $color--interaction;
    }
  }

  .social-block__toggler {
    color: $color;

    &:hover {
      color: $color--interaction;

      &::before {
        background-color: $c-light;
        border-color: $c-light;
      }
    }

    &:active,
    &:active:focus {
      color: $c-light;

      &::before {
        background-color: $color--interaction;
        border-color: $color--interaction;
      }
    }
  }
}

.page-root--history-slide--1 {
  @include social-block-toggler-colors($c-theme-1, $c-theme-1--interaction);
}

.page-root--history-slide--2 {
  @include social-block-toggler-colors($c-theme-2, $c-theme-2--interaction);
}

.page-root--history-slide--3 {
  @include social-block-toggler-colors($c-theme-3, $c-theme-3--interaction);
}

.page-root--history-slide--4 {
  @include social-block-toggler-colors($c-theme-4, $c-theme-4--interaction);
}

.social-block__link {
  $social-block-link-size: 4rem;
  $social-block-link-size--stop-scaling: 40px;

  width: $social-block-link-size;
  height: $social-block-link-size;
  transform: translateY(15%);
  opacity: 0;

  @media (min-width: $stop-scaling) {
    width: $social-block-link-size--stop-scaling;
    height: $social-block-link-size--stop-scaling;
  }

  &:active,
  &:active:focus {
    color: $c-purple;
    background-color: transparent;
    border-color: transparent;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background: $c-light;
      width: calc(#{$social-block-link-size} - 4px);
      height: calc(#{$social-block-link-size} - 4px);
      border-radius: 50%;

      @media (min-width: $stop-scaling) {
        width: calc(#{$social-block-link-size--stop-scaling} - 4px);
        height: calc(#{$social-block-link-size--stop-scaling} - 4px);
      }
    }
  }

  .social-block--active & {
    transform: translateY(0px);
    opacity: 1;
  }

  @mixin social-block-link-transition($duration) {
    transition: color 0.3s, opacity #{$duration}s #{$duration}s, transform #{$duration}s #{$duration}s;
  }

  .social-block--active & {
    &--fb {
      @include social-block-link-transition(0.2);
    }

    &--insta {
      @include social-block-link-transition(0.3);
    }

    &--vk {
      @include social-block-link-transition(0.4);
    }
  }
}

@mixin social-block-link-colors($color--interaction) {
  .social-block__link {
    @media (max-width: $tablet) and (orientation: portrait) {
      background-color: $color--interaction;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      background-color: $color--interaction;
    }

    &:hover {
      color: $color--interaction;
    }

    &:focus {
      color: $color--interaction;
      border-color: $color--interaction;
    }

    &:active,
    &:active:focus {
      color: $color--interaction;
      background-color: transparent;
      border-color: transparent;
    }
  }
}

.page-root--history-slide--1 {
  @include social-block-link-colors($c-theme-1--interaction)
}

.page-root--history-slide--2 {
  @include social-block-link-colors($c-theme-2--interaction)
}

.page-root--history-slide--3 {
  @include social-block-link-colors($c-theme-3--interaction)
}

.page-root--history-slide--4 {
  @include social-block-link-colors($c-theme-4--interaction)
}
